body{
    background-color:  rgb(91, 116, 136);
    text-align: center;
}p{
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
    margin: 3px ;
    width: 230px;
    border-radius: 3px;
}p#p4{
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
    margin: 3px ;
    width: 248px;
    border-radius: 3px;

}fieldset#field2{
    background-color: rgb(99, 131, 141);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
    margin: 3px ;
    width: 248px;
    border-radius: 3px;
}p#p6{
    background-color: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
    margin: auto ;
    width: 10px;
    border-radius: 3px;
}fieldset#field1{
    background-color: rgb(99, 131, 141);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.363);
    margin: 3px ;
    width: 248px;
    border-radius: 3px;
}

